@import './common/vars.sass'
@import './common/gem.scss'
@import './common/header.sass'
@import './home.sass'
@import '../libs/owl/owl.carousel.min.css'
@import './about.sass'
@import './pathology.sass'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    background: var(--bg-color)
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none

.button-purple
    display: flex
    justify-content: center
    align-items: center
    background: var(--color-coral)
    transition: 0.3s all ease
    // padding: gem(12) gem(30)
    width: gem(205)
    height: gem(51)
    &:hover
        background: var(--color-coral-light)
.more-info
    display: flex
    flex-direction: row
    align-items: center
    height: gem(130)
    position: relative
    width: gem(250)
    &.hovered
        .plus
            height: gem(50)
            width: gem(250)
            img
                transform: rotate(360deg)
                opacity: 0
        a
            color: var(--color-white)
    .plus
        height: gem(130)
        width: gem(50)
        display: flex
        justify-content: center
        align-items: center
        background: var(--color-coral)
        transition: all 0.3s ease
        img
            transition: all 0.3s ease
            opacity: 1
    a
        color: var(--color-text)
        position: absolute
        height: gem(50)
        width: gem(250)
        display: flex
        align-items: center
        justify-content: center
        transition: all 0.3s ease
        font-weight: 500
// footer
.footer-main
    display: flex
    height: gem(451)
    flex-direction: column
    padding: gem(100) gem(150)
    &-top
        display: flex
        flex-direction: row
        justify-content: space-between
        &-left
            display: flex
            flex-direction: column
            height: gem(174)
            justify-content: space-between
        &-right
            display: flex
            flex-direction: column
            span
                margin-bottom: gem(25)
                color: var(--color-gray-light)
            &-contacts
                display: flex
                flex-direction: column
                justify-content: space-between
                height: gem(122)
                a
                    color: var(--color-text)
            &-social
                display: flex
                width: gem(120)
                justify-content: space-between
                a
                    display: flex
                    width: gem(50)
                    height: gem(50)
                    img
                        display: flex
                        width: 100%
    &-bottom
        display: flex
        justify-content: center
        align-items: center
        img
            display: flex
            width: gem(15)
            height: gem(15)
            margin-right: gem(10)
        span
            display: flex
            color: var(--color-gray-light)