.pathology
	&-main
		display: flex
		flex-direction: column
		margin: gem(135) gem(150) gem(45) gem(150)
		&-middle
			display: flex
			flex-direction: row
			justify-content: space-between
			margin: gem(35) 0
			&-left
				display: flex
				width: gem(470)
				flex-direction: column
				p
					display: flex
					margin-bottom: gem(50)
				.more-info-link
					left: gem(30)
			&-right
				display: flex
				width: gem(539)
				height: gem(422)
				img
					display: flex
					width: 100%
	&-list
		display: flex
		flex-direction: column
		margin: gem(45) gem(150) gem(45) gem(150)
		h3
			color: var(--color-text)
			margin-bottom: gem(25)
		&-element
			display: flex
			margin-top: gem(20)
			align-items: center
			img
				display: flex
				margin-right: gem(20)

@media all and (max-width: 1024px)				
	.pathology-main
		margin: gem(100) gem(15) gem(0) gem(15)
	.pathology-list
		margin: gem(45) gem(15) gem(0) gem(15)
@media all and (max-width: 480px)	
	.pathology-main
		h2
			line-height: gem(36)
		&-middle
			position: relative
			
			margin-top: gem(25)
			&-right
				position: absolute
				margin-top: gem(90)
				width: 100%
				height: gem(230)
			&-left
				.more-info
					margin-top: gem(230)
				
