.pathology
	&-main
		display: flex
		flex-direction: column
		margin: gem(135) gem(150) gem(45) gem(150)
		&-middle
			display: flex
			flex-direction: row
			justify-content: space-between
			margin: gem(35) 0
			&-left
				display: flex
				width: gem(470)
				flex-direction: column
				p
					display: flex
					margin-bottom: gem(50)
				.more-info-link
					left: gem(30)
			&-right
				display: flex
				width: gem(539)
				height: gem(422)
				img
					display: flex
					width: 100%
	&-list
		display: flex
		flex-direction: column
		margin: gem(45) gem(150) gem(45) gem(150)
		h3
			color: var(--color-text)
			margin-bottom: gem(25)
		&-element
			display: flex
			margin-top: gem(20)
			align-items: center
			img
				display: flex
				margin-right: gem(20)
